/* Global Vars */
:root {
    --main-color: #2C3E50;
    --secondary-color: #BDC3C7;
    --third-color: #34495E;
    --fourth-color: #0b7fdf;
}

/* body */
body {
    font-family: "Jost", sans-serif;
}

/* start navbar */
.navbar {
    background-color: var(--main-color);
}

.navbar-brand {
    color: var(--secondary-color);
}

.navbar-brand:hover {
    color: #fdf9f9;
}

.nav-item a {
    color: var(--secondary-color);
}

.nav-item a:hover {
    color: #fdf9f9;
    border-bottom: 2px solid #0b7fdf;
    translate: scale(0.9);
    padding: 8px;
}

.offcanvas-body {
    background-color: var(--main-color);
}
/* end navbar */

/* start landing */
.landing {
    background-image: url("../imgs/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-text {
    background-color: var(--main-color);
    opacity: 0.7;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
}

.landing-text { 
    animation: landing-text infinite 2s ease-in-out 
}

@keyframes landing-text {
    50% { 
        transform: translateY(20px) 
    }
}

.landing-text h1 {
    color: #fdf9f9;
    font-size: 50px;
}

.landing-text p {
    color: #d8dbdd;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

.landing-text a {
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.landing-text a:hover {
    background-color: #fdf9f9;
    color: var(--fourth-color);
}
/* end landing */

/* start special heading */
@media (min-width: 992px) {
    .special-heading h1 {
        font-size: 60px;
        color: var(--third-color);
        border-bottom: 2px solid var(--main-color);
    }

    .special-heading p {
        font-size: 19px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .special-heading h1 {
        font-size: 40px;
        color: var(--third-color);
        border-bottom: 2px solid var(--main-color);
    }
}

@media (max-width: 767px) {
    .special-heading h1 {
        font-size: 30px;
        color: var(--third-color);
        border-bottom: 2px solid var(--main-color);
    }
}
/* end special heading */

/* start about */
.about-text p span{
    font-weight: bold;
}

.about-text a {
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    color: var(--third-color);
    text-decoration: none;
    border: 2px solid var(--third-color);
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.3s ease;
}

.about-text a:hover {
    background-color: var(--third-color);
    color: #fdf9f9;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}


@media (min-width: 992px) {
    .about-text {
        max-width: 600px;
    }

    .about-image img {
        width: 450px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about-text {
        max-width: 400px;
    }

    .about-image img {
        margin-top: 50px;
        width: 350px;
    }
}

@media (max-width: 767px) {
    .about-image img {
        width: 350px;
    }
}
/* end about */

/* start services */
.services {
    background-color: var(--main-color);
}

.services .special-heading h1 {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--fourth-color);
}

.services .special-heading p {
    color: #BDC3C7;
}

.service {
    transition: background-color 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.service i, 
.service h3, 
.service p {
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
}

.service h3 {
    color: var(--secondary-color);
}

.service p {
    color: var(--secondary-color);
}

.service i {
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}

.service:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.service:hover i {
    color: var(--third-color);
    transform: scale(1.1);
}

.service:hover h3,
.service:hover p {
    color: var(--third-color);
}
/* end services */